.flex {
  display: flex;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.flex-70 {
  flex: 0 1 65%;
}
.flex-25 {
  flex: 0 1 25%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}